<!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->



        <footer class="text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-lg-4 col-xl-3">
                            <h5>About</h5>
                            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                            <p class="mb-0">
                                I want to make it possible for eveyone to learn how to code.
                                I have alot of ideas to build this website to the next level where people can not just answer or post a challenge
                                but also can study about different languages.
                            </p>
                        </div>
            
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                            <h5>Quick Links</h5>
                            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/challenges">Challenges</a></li>
                                <li><a href="#">Contact</a></li>
                                <% if(!currentUser){%>
                                <li><a href="/login">Sign In</a></li>
                                <li><a href="/register">Sing Up</a></li>
                                <%}%>
                            </ul>
                        </div>
            
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                            <h5>Social links</h5>
                            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                            <ul class="list-unstyled">
                                <a class="mx-2" target="_blank" href="https://www.facebook.com/muneer.abbas.79"><i class="fab fa-facebook"></i></a>
                                <a class="mx-2" target="_blank" href="https://www.instagram.com/muneeer_/"><i class="fab fa-instagram"></i></a>
                                <a class="mx-2" target="_blank" href="https://twitter.com/WhereIsBiryani_"><i class="fab fa-twitter"></i></a>
                            </ul>
                        </div>
            
                        <div class="col-md-4 col-lg-3 col-xl-3">
                            <h5>Contact</h5>
                            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-home mr-2"></i> Code It</li>
                                <li><i class="fa fa-envelope mr-2"></i> muneernagari@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        
        
        
        <script type="text/javascript" src="/js/default.js"></script>
	</body>
</html>