<%- include ("./partials/header") -%>
<div class="container rounded my-5 p-5 shadow w-75 my-5">
    <div class="jumbotron pb-2 shadow bg-white">
        <h1 class="display-1">404</h1>
        <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
        <ul class="list-group list-group-flush">
            <a href="/" class="list-group-item list-group-item-action">Home</a>
            <a href="/challenges" class="list-group-item list-group-item-action">Challenges</a>
            <a href="#" class="list-group-item list-group-item-action">Contact</a>
        </ul>
                  
    </div>
</div>
<%- include ("./partials/footer") -%>